.form-consulta {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 90%;
  /* margin: 20px; */
  border-style: solid;
}

.form-field {
  margin: 10px;
}

.full-width {
  width: 95%;
}
