.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
  /* text-align: center; */
  /* border: solid #282c34; */
}

.components {
  /* margin-top: 100px; */
}